.App {
    position: relative;
    background-color: #FF5E2C;
    min-height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.App > h1 {
    color: white;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 0px 60px;
    background-color: #E9E9E9;
    border-radius: 7px;
}

.listHeader {
    padding: 0px;
    margin: 0px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 7px 7px 0px 0px;
}

.listBody {
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 82vh;
}

.listMeny {
    padding: 0px;
    margin: 0px;
    /* width: 250px; */
    width: 50px;
    border-radius: 0px 0px 0px 7px;
    background-color: #C4C4C4;
}

.listSpase {
    padding: 0px;
    margin: 30px;
    width: 100%;
    background-color: #DEDEDE;
}

p {
    padding: 0px;
    margin: 0px;
}